# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/*
!.idea/runConfigurations
*__pycache__
*.iml
out
gen
/cmake-build-*/
Makefile
doc/
/venv/
